.container {
  margin: 40px auto;
  max-width: 110rem;
  padding: 4rem 4rem 4rem;
  border-radius: 10px;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  text-align: center;
}
.simulation {
  display: inline-block;
  text-align: center;
}
h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 2.5rem;
}
.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.controls > * {
  margin: 0 10px;
}
.explanation {
  margin-bottom: 40px;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.explanation h3 {
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
